@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,400i,700,900&display=swap');

@font-face {
    font-family: 'Arial-MT';
    src: url('../components/layout-example/assets/fonts/Arial-BoldMT.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arial-MT';
    src: url('../components/layout-example/assets/fonts/Arial-BoldMT.otf') format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arial-MT';
    src: url('../components/layout-example/assets/fonts/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial-MT';
    src: url('../components/layout-example/assets/fonts/ArialMT.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

$base-font: 'Montserrat Alternates';
$layout-font: 'Arial-MT';
$base-font-color: #362f28;
$footer-font-color: #fff;
$link-color: #572a91;
$base-background-1: #f29c3a;
$body-background: #faf4e1;

@mixin page-title-font {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

@mixin link-font {
    text-decoration: none;
    font-weight: bold;
    color: $link-color;
}