@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,400i,700,900&display=swap');

$base-font: 'Montserrat Alternates';
$base-font-color: #362f28;
$footer-font-color: #fff;
$base-background-1: #f29c3a;
